In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#path to project folder
path = '/Users/davidey/06-2023 Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2023-07-28_ords_prods_merged.pkl'))

In [4]:
# create subset of data for experiment
df = ords_prods_merge[:1000000]

In [5]:
df.head()

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2.0,33120.0,1.0,202279.0,3.0,5.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders
1,26.0,33120.0,5.0,153404.0,2.0,0.0,16.0,7.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders
2,120.0,33120.0,13.0,23750.0,11.0,6.0,8.0,10.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders
3,327.0,33120.0,5.0,58707.0,21.0,6.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders
4,390.0,33120.0,28.0,166654.0,48.0,0.0,12.0,9.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders

In [6]:
df.shape

(1000000, 15)

In [7]:
df.groupby('product_name')

In [8]:
df.groupby('department_id').agg({'user_order_number': ['mean']})

              user_order_number
                           mean
department_id
3.0                   14.898875
4.0                   18.847057
7.0                   16.462291
11.0                  17.419048
12.0                  19.215747
13.0                  16.473586
14.0                  13.120454
16.0                  18.867191
19.0                  14.369608

In [9]:
df.groupby('department_id').agg({'user_order_number': ['mean', 'min', 'max']})

              user_order_number
                           mean  min   max
department_id
3.0                   14.898875  1.0  99.0
4.0                   18.847057  1.0  99.0
7.0                   16.462291  1.0  99.0
11.0                  17.419048  1.0  71.0
12.0                  19.215747  1.0  99.0
13.0                  16.473586  1.0  99.0
14.0                  13.120454  1.0  99.0
16.0                  18.867191  1.0  99.0
19.0                  14.369608  1.0  99.0

In [10]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['user_order_number'].transform(np.max)

In [11]:
ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2.0,33120.0,1.0,202279.0,3.0,5.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,9.0
1,26.0,33120.0,5.0,153404.0,2.0,0.0,16.0,7.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,33.0
2,120.0,33120.0,13.0,23750.0,11.0,6.0,8.0,10.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders,14.0
3,327.0,33120.0,5.0,58707.0,21.0,6.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,31.0
4,390.0,33120.0,28.0,166654.0,48.0,0.0,12.0,9.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,63.0

In [12]:
ords_prods_merge.groupby('department_id').agg({'user_order_number': ['mean', 'min', 'max']})

              user_order_number
                           mean  min   max
department_id
1.0                   15.457838  1.0  99.0
2.0                   17.277920  1.0  99.0
3.0                   17.170395  1.0  99.0
4.0                   17.811403  1.0  99.0
5.0                   15.213779  1.0  99.0
6.0                   16.439806  1.0  99.0
7.0                   17.225802  1.0  99.0
8.0                   15.340650  1.0  99.0
9.0                   15.895474  1.0  99.0
10.0                  20.197148  1.0  99.0
11.0                  16.171095  1.0  99.0
12.0                  15.887671  1.0  99.0
13.0                  16.583536  1.0  99.0
14.0                  16.771241  1.0  99.0
15.0                  16.165037  1.0  99.0
16.0                  17.665606  1.0  99.0
17.0                  15.694469  1.0  99.0
18.0                  19.310397  1.0  99.0
19.0                  17.177343  1.0  99.0
20.0                  16.473447  1.0  99.0
21.0                  22.902379  1.0  99.0

In [13]:
ords_prods_merge.head(100)

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2.0,33120.0,1.0,202279.0,3.0,5.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,9.0
1,26.0,33120.0,5.0,153404.0,2.0,0.0,16.0,7.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,33.0
2,120.0,33120.0,13.0,23750.0,11.0,6.0,8.0,10.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders,14.0
3,327.0,33120.0,5.0,58707.0,21.0,6.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,31.0
4,390.0,33120.0,28.0,166654.0,48.0,0.0,12.0,9.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,16638.0,33120.0,15.0,206104.0,11.0,0.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,31.0
96,16640.0,33120.0,7.0,112557.0,1.0,1.0,22.0,NaN,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Average orders,20.0
97,16776.0,33120.0,26.0,12726.0,37.0,6.0,13.0,5.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,43.0
98,16781.0,33120.0,3.0,69500.0,3.0,3.0,11.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Slowest days,Most orders,4.0
99,16825.0,33120.0,1.0,82364.0,13.0,6.0,8.0,15.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders,21.0

In [14]:
# need to see more rows
pd.options.display.max_rows = None

In [15]:
ords_prods_merge.tail(100)

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
32642350,3351563.0,NaN,NaN,206110.0,5.0,3.0,13.0,7.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,5.0
32642351,197679.0,NaN,NaN,206111.0,6.0,3.0,11.0,10.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,6.0
32642352,586424.0,NaN,NaN,206112.0,8.0,6.0,12.0,4.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,8.0
32642353,221790.0,NaN,NaN,206113.0,4.0,1.0,15.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,4.0
32642354,2922183.0,NaN,NaN,206114.0,12.0,4.0,12.0,15.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,12.0
32642355,987241.0,NaN,NaN,206115.0,5.0,2.0,13.0,29.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,5.0
32642356,60340.0,NaN,NaN,206116.0,7.0,2.0,17.0,24.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,7.0
32642357,3048887.0,NaN,NaN,206117.0,44.0,6.0,9.0,6.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,44.0
32642358,3371955.0,NaN,NaN,206118.0,24.0,5.0,13.0,8.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,24.0
32642359,2741640.0,NaN,NaN,206119.0,12.0,5.0,5.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Fewest orders,12.0
32642360,3317783.0,NaN,NaN,206120.0,8.0,0.0,9.0,11.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,8.0
32642361,767993.0,NaN,NaN,206121.0,4.0,0.0,13.0,17.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,4.0
32642362,1968103.0,NaN,NaN,206122.0,4.0,6.0,15.0,11.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,4.0
32642363,1611487.0,NaN,NaN,206123.0,29.0,5.0,12.0,17.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,29.0
32642364,802778.0,NaN,NaN,206124.0,63.0,5.0,10.0,4.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,63.0
32642365,2629221.0,NaN,NaN,206125.0,14.0,6.0,13.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,14.0
32642366,700173.0,NaN,NaN,206126.0,30.0,6.0,8.0,11.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,30.0
32642367,3094655.0,NaN,NaN,206127.0,6.0,3.0,12.0,30.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,6.0
32642368,1695230.0,NaN,NaN,206128.0,16.0,2.0,8.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,16.0
32642369,2276299.0,NaN,NaN,206129.0,5.0,5.0,19.0,28.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,5.0
32642370,2269820.0,NaN,NaN,206130.0,17.0,0.0,13.0,13.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,17.0
32642371,2964171.0,NaN,NaN,206131.0,13.0,1.0,15.0,13.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,13.0
32642372,329474.0,NaN,NaN,206132.0,6.0,1.0,18.0,5.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Average orders,6.0
32642373,2104667.0,NaN,NaN,206133.0,5.0,3.0,11.0,16.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,5.0
32642374,458698.0,NaN,NaN,206134.0,4.0,0.0,14.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,4.0
32642375,1522572.0,NaN,NaN,206135.0,4.0,1.0,16.0,21.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,4.0
32642376,97844.0,NaN,NaN,206136.0,11.0,4.0,15.0,1.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,11.0
32642377,1954863.0,NaN,NaN,206137.0,5.0,0.0,8.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Average orders,5.0
32642378,544857.0,NaN,NaN,206138.0,15.0,0.0,9.0,7.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,15.0
32642379,3203445.0,NaN,NaN,206139.0,5.0,1.0,15.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,5.0
32642380,48452.0,NaN,NaN,206140.0,10.0,0.0,10.0,22.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,10.0
32642381,2841542.0,NaN,NaN,206141.0,5.0,1.0,21.0,8.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Average orders,5.0
32642382,1421496.0,NaN,NaN,206142.0,15.0,1.0,8.0,21.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Average orders,15.0
32642383,765758.0,NaN,NaN,206143.0,11.0,4.0,3.0,26.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Fewest orders,11.0
32642384,1782820.0,NaN,NaN,206144.0,6.0,5.0,18.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,6.0
32642385,2086546.0,NaN,NaN,206145.0,6.0,4.0,19.0,30.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Average orders,6.0
32642386,618927.0,NaN,NaN,206146.0,10.0,0.0,11.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,10.0
32642387,1772796.0,NaN,NaN,206147.0,5.0,5.0,22.0,25.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,5.0
32642388,1509955.0,NaN,NaN,206148.0,49.0,0.0,17.0,9.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Average orders,49.0
32642389,2721635.0,NaN,NaN,206149.0,6.0,6.0,10.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,6.0
32642390,278249.0,NaN,NaN,206150.0,8.0,5.0,18.0,12.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,8.0
32642391,2883005.0,NaN,NaN,206151.0,20.0,6.0,21.0,6.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,20.0
32642392,3177219.0,NaN,NaN,206152.0,35.0,0.0,9.0,16.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,35.0
32642393,642502.0,NaN,NaN,206153.0,14.0,0.0,8.0,21.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Average orders,14.0
32642394,1839793.0,NaN,NaN,206154.0,27.0,0.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,27.0
32642395,2078948.0,NaN,NaN,206155.0,15.0,3.0,11.0,15.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,15.0
32642396,674892.0,NaN,NaN,206156.0,5.0,4.0,19.0,6.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Average orders,5.0
32642397,2262542.0,NaN,NaN,206157.0,11.0,3.0,13.0,30.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,11.0
32642398,147265.0,NaN,NaN,206158.0,51.0,1.0,10.0,7.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,51.0
32642399,1014278.0,NaN,NaN,206159.0,7.0,3.0,10.0,9.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,7.0
32642400,2380361.0,NaN,NaN,206160.0,11.0,5.0,15.0,24.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,11.0
32642401,928262.0,NaN,NaN,206161.0,16.0,0.0,12.0,7.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,16.0
32642402,130224.0,NaN,NaN,206162.0,19.0,3.0,12.0,14.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,19.0
32642403,1722401.0,NaN,NaN,206163.0,6.0,5.0,21.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,6.0
32642404,1011957.0,NaN,NaN,206164.0,6.0,2.0,17.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,6.0
32642405,1521740.0,NaN,NaN,206165.0,28.0,6.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,Average days,Fewest orders,28.0
32642406,1945444.0,NaN,NaN,206166.0,20.0,5.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,20.0
32642407,1345413.0,NaN,NaN,206167.0,5.0,2.0,15.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,5.0
32642408,2000023.0,NaN,NaN,206168.0,13.0,2.0,14.0,8.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,13.0
32642409,2190740.0,NaN,NaN,206169.0,9.0,0.0,14.0,7.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,9.0
32642410,3204749.0,NaN,NaN,206170.0,7.0,3.0,12.0,26.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,7.0
32642411,243575.0,NaN,NaN,206171.0,7.0,0.0,22.0,11.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Average orders,7.0
32642412,487224.0,NaN,NaN,206172.0,7.0,5.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,7.0
32642413,3151043.0,NaN,NaN,206173.0,4.0,0.0,13.0,9.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,4.0
32642414,1620607.0,NaN,NaN,206174.0,53.0,4.0,22.0,10.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Average orders,53.0
32642415,1241200.0,NaN,NaN,206175.0,7.0,0.0,15.0,14.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,7.0
32642416,1533014.0,NaN,NaN,206176.0,15.0,6.0,16.0,12.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,15.0
32642417,36236.0,NaN,NaN,206177.0,8.0,6.0,14.0,8.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,8.0
32642418,813551.0,NaN,NaN,206178.0,20.0,4.0,12.0,11.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,20.0
32642419,2900626.0,NaN,NaN,206179.0,4.0,2.0,12.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,4.0
32642420,2633505.0,NaN,NaN,206180.0,19.0,0.0,13.0,7.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,19.0
32642421,681092.0,NaN,NaN,206181.0,15.0,1.0,13.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,15.0
32642422,1836967.0,NaN,NaN,206182.0,11.0,0.0,10.0,20.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,11.0
32642423,2799087.0,NaN,NaN,206183.0,15.0,0.0,13.0,29.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,15.0
32642424,67174.0,NaN,NaN,206184.0,5.0,1.0,15.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,5.0
32642425,2048154.0,NaN,NaN,206185.0,11.0,4.0,13.0,20.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,11.0
32642426,160694.0,NaN,NaN,206186.0,4.0,5.0,15.0,7.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,4.0
32642427,2762353.0,NaN,NaN,206187.0,35.0,0.0,0.0,20.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Fewest orders,35.0
32642428,3367945.0,NaN,NaN,206188.0,8.0,1.0,21.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Average orders,8.0
32642429,959487.0,NaN,NaN,206189.0,7.0,2.0,20.0,9.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,7.0
32642430,2108733.0,NaN,NaN,206190.0,9.0,5.0,14.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,9.0
32642431,2530125.0,NaN,NaN,206191.0,6.0,0.0,9.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,6.0
32642432,701105.0,NaN,NaN,206192.0,15.0,6.0,19.0,4.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,15.0
32642433,2518868.0,NaN,NaN,206193.0,42.0,5.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,42.0
32642434,64567.0,NaN,NaN,206194.0,12.0,4.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Fewest orders,12.0
32642435,2986595.0,NaN,NaN,206195.0,20.0,0.0,14.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,20.0
32642436,3383615.0,NaN,NaN,206196.0,5.0,0.0,15.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,5.0
32642437,1564541.0,NaN,NaN,206197.0,24.0,0.0,14.0,30.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,24.0
32642438,2951304.0,NaN,NaN,206198.0,8.0,6.0,12.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,8.0
32642439,2585586.0,NaN,NaN,206199.0,20.0,2.0,16.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,20.0
32642440,943915.0,NaN,NaN,206200.0,24.0,6.0,19.0,6.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,24.0
32642441,309211.0,NaN,NaN,206201.0,33.0,0.0,12.0,11.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,33.0
32642442,2728930.0,NaN,NaN,206202.0,23.0,2.0,17.0,6.0,NaN,NaN,NaN,NaN,NaN,Average days,Average orders,23.0
32642443,2371631.0,NaN,NaN,206203.0,6.0,4.0,19.0,30.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Average orders,6.0
32642444,350108.0,NaN,NaN,206204.0,5.0,4.0,14.0,14.0,NaN,NaN,NaN,NaN,NaN,Slowest days,Most orders,5.0
32642445,1716008.0,NaN,NaN,206205.0,4.0,1.0,16.0,10.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Most orders,4.0
32642446,1043943.0,NaN,NaN,206206.0,68.0,0.0,20.0,0.0,NaN,NaN,NaN,NaN,NaN,Busiest days,Average orders,68.0
32642447,2821651.0,NaN,NaN,206207.0,17.0,2.0,13.0,14.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,17.0
32642448,803273.0,NaN,NaN,206208.0,50.0,5.0,11.0,4.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,50.0
32642449,272231.0,NaN,NaN,206209.0,14.0,6.0,14.0,30.0,NaN,NaN,NaN,NaN,NaN,Average days,Most orders,14.0

In [16]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2.0,33120.0,1.0,202279.0,3.0,5.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,9.0,New customer
1,26.0,33120.0,5.0,153404.0,2.0,0.0,16.0,7.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,33.0,Regular customer
2,120.0,33120.0,13.0,23750.0,11.0,6.0,8.0,10.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders,14.0,Regular customer
3,327.0,33120.0,5.0,58707.0,21.0,6.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,31.0,Regular customer
4,390.0,33120.0,28.0,166654.0,48.0,0.0,12.0,9.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,63.0,Loyal customer

In [18]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    16382119
Loyal customer      10679887
New customer         5580444
Name: loyalty_flag, dtype: int64

In [19]:
ords_prods_merge[['user_id', 'loyalty_flag', 'user_order_number']].head(60)

     user_id      loyalty_flag  user_order_number
0   202279.0      New customer                3.0
1   153404.0  Regular customer                2.0
2    23750.0  Regular customer               11.0
3    58707.0  Regular customer               21.0
4   166654.0    Loyal customer               48.0
5   180135.0    Loyal customer               15.0
6   193223.0    Loyal customer                6.0
7    91030.0  Regular customer               11.0
8    37804.0    Loyal customer               63.0
9   108932.0  Regular customer               16.0
10   57362.0    Loyal customer               25.0
11   73968.0  Regular customer               16.0
12  132856.0  Regular customer                3.0
13  160657.0  Regular customer               31.0
14  108796.0  Regular customer               11.0
15   30502.0  Regular customer                5.0
16  113928.0  Regular customer               12.0
17   29456.0      New customer                6.0
18   25085.0    Loyal customer               78.0
19  108338.0  Regular customer                3.0
20   67308.0  Regular customer               11.0
21   20944.0    Loyal customer               54.0
22   37557.0  Regular customer               15.0
23  168005.0    Loyal customer               31.0
24  173056.0      New customer                4.0
25    2555.0    Loyal customer               21.0
26  116952.0  Regular customer               13.0
27   42591.0  Regular customer                4.0
28   66340.0  Regular customer               13.0
29  112555.0  Regular customer               18.0
30  170703.0  Regular customer               20.0
31   66781.0  Regular customer                9.0
32  126715.0    Loyal customer               17.0
33   25781.0      New customer                6.0
34  129196.0  Regular customer               14.0
35  140576.0  Regular customer                7.0
36   88415.0  Regular customer                5.0
37  162759.0  Regular customer               23.0
38     155.0  Regular customer               15.0
39   92179.0      New customer                1.0
40   78567.0  Regular customer                2.0
41   56509.0      New customer                4.0
42  155845.0  Regular customer               11.0
43  147684.0    Loyal customer               14.0
44  100101.0  Regular customer                6.0
45  188156.0  Regular customer               19.0
46   40092.0  Regular customer                8.0
47   84096.0      New customer                2.0
48  113565.0  Regular customer                6.0
49   74197.0    Loyal customer                9.0
50   31900.0  Regular customer                8.0
51   97593.0  Regular customer               15.0
52  114300.0    Loyal customer               22.0
53   68183.0  Regular customer                1.0
54   79460.0  Regular customer               24.0
55  142813.0  Regular customer                7.0
56  124123.0      New customer                1.0
57  204271.0    Loyal customer               38.0
58  107179.0  Regular customer               28.0
59  190854.0  Regular customer                3.0

# Task

## 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [20]:
# entire dataframe
ords_prods_merge.groupby('department_id').agg({'user_order_number': ['mean']})

              user_order_number
                           mean
department_id
1.0                   15.457838
2.0                   17.277920
3.0                   17.170395
4.0                   17.811403
5.0                   15.213779
6.0                   16.439806
7.0                   17.225802
8.0                   15.340650
9.0                   15.895474
10.0                  20.197148
11.0                  16.171095
12.0                  15.887671
13.0                  16.583536
14.0                  16.771241
15.0                  16.165037
16.0                  17.665606
17.0                  15.694469
18.0                  19.310397
19.0                  17.177343
20.0                  16.473447
21.0                  22.902379

In [21]:
# subset
df.groupby('department_id').agg({'user_order_number': ['mean']})

              user_order_number
                           mean
department_id
3.0                   14.898875
4.0                   18.847057
7.0                   16.462291
11.0                  17.419048
12.0                  19.215747
13.0                  16.473586
14.0                  13.120454
16.0                  18.867191
19.0                  14.369608

## 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

Eyeballing this, I would say that the aggregated means from the entire dataframe are about the same or higher than those of the subset. Thus the subset had lower average values than that of the entire dataframe

## 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

Already done

In [22]:
ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2.0,33120.0,1.0,202279.0,3.0,5.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,9.0,New customer
1,26.0,33120.0,5.0,153404.0,2.0,0.0,16.0,7.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,33.0,Regular customer
2,120.0,33120.0,13.0,23750.0,11.0,6.0,8.0,10.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders,14.0,Regular customer
3,327.0,33120.0,5.0,58707.0,21.0,6.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,31.0,Regular customer
4,390.0,33120.0,28.0,166654.0,48.0,0.0,12.0,9.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,63.0,Loyal customer

In [23]:
ords_prods_merge.describe()

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,aisle_id,department_id,prices,max_order
count,3.264245e+07,3.243624e+07,3.243624e+07,3.264245e+07,3.264245e+07,3.264245e+07,3.264245e+07,3.056424e+07,3.240604e+07,3.240604e+07,3.240604e+07,3.264245e+07
mean,1.710718e+06,2.557663e+04,8.351150e+00,1.029381e+05,1.713839e+01,2.739032e+00,1.342599e+01,1.114435e+01,7.119773e+01,9.919923e+00,1.198004e+01,3.394187e+01
std,9.873081e+05,1.409646e+04,7.126713e+00,5.946689e+04,1.752953e+01,2.090264e+00,4.246220e+00,8.806592e+00,3.821182e+01,6.281418e+00,4.956464e+02,2.514799e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
25%,8.558860e+05,1.353500e+04,3.000000e+00,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,1.400000e+01
50%,1.710984e+06,2.525600e+04,6.000000e+00,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,2.700000e+01
75%,2.565488e+06,3.793500e+04,1.100000e+01,1.543930e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.070000e+02,1.600000e+01,1.130000e+01,4.800000e+01
max,3.421083e+06,4.968800e+04,1.450000e+02,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01,1.340000e+02,2.100000e+01,9.999900e+04,1.000000e+02

In [24]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32642450 entries, 0 to 32642449
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                float64
 1   product_id              float64
 2   add_to_cart_order       float64
 3   user_id                 float64
 4   user_order_number       float64
 5   orders_day_of_week      float64
 6   order_hour_of_day       float64
 7   days_since_prior_order  float64
 8   product_name            object
 9   aisle_id                float64
 10  department_id           float64
 11  prices                  float64
 12  price_range_loc         object
 13  busiest_days            object
 14  busiest_period_of_day   object
 15  max_order               float64
 16  loyalty_flag            object
dtypes: float64(12), object(5)
memory usage: 4.4+ GB

## 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [25]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.377039
New customer      13.208179
Regular customer  12.616000

Interesting, new customers tend to buy the most. This could be that new customers identify more affordable products later.

# 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
## If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
## If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [26]:
ords_prods_merge['user_prices_mean'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [27]:
ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_prices_mean
0,2.0,33120.0,1.0,202279.0,3.0,5.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,9.0,New customer,8.618889
1,26.0,33120.0,5.0,153404.0,2.0,0.0,16.0,7.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,33.0,Regular customer,8.072613
2,120.0,33120.0,13.0,23750.0,11.0,6.0,8.0,10.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders,14.0,Regular customer,8.598592
3,327.0,33120.0,5.0,58707.0,21.0,6.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,31.0,Regular customer,6.549333
4,390.0,33120.0,28.0,166654.0,48.0,0.0,12.0,9.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,63.0,Loyal customer,7.302487

In [28]:
result = []

for value in ords_prods_merge["user_prices_mean"]:
  if value < 10:
    result.append("Low spender")
  else:
    result.append("High spender")

In [29]:
ords_prods_merge['spender_category'] = result

In [30]:
ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_prices_mean,spender_category
0,2.0,33120.0,1.0,202279.0,3.0,5.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,9.0,New customer,8.618889,Low spender
1,26.0,33120.0,5.0,153404.0,2.0,0.0,16.0,7.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,33.0,Regular customer,8.072613,Low spender
2,120.0,33120.0,13.0,23750.0,11.0,6.0,8.0,10.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders,14.0,Regular customer,8.598592,Low spender
3,327.0,33120.0,5.0,58707.0,21.0,6.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,31.0,Regular customer,6.549333,Low spender
4,390.0,33120.0,28.0,166654.0,48.0,0.0,12.0,9.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,63.0,Loyal customer,7.302487,Low spender

In [31]:
ords_prods_merge['spender_category'].value_counts(dropna = False)

Low spender     32002408
High spender      640042
Name: spender_category, dtype: int64

# 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

## If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
## If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
## If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [32]:
ords_prods_merge['days_since_mean'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

In [33]:
ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_prices_mean,spender_category,days_since_mean
0,2.0,33120.0,1.0,202279.0,3.0,5.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,9.0,New customer,8.618889,Low spender,21.962963
1,26.0,33120.0,5.0,153404.0,2.0,0.0,16.0,7.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,33.0,Regular customer,8.072613,Low spender,10.564767
2,120.0,33120.0,13.0,23750.0,11.0,6.0,8.0,10.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders,14.0,Regular customer,8.598592,Low spender,14.239437
3,327.0,33120.0,5.0,58707.0,21.0,6.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,31.0,Regular customer,6.549333,Low spender,11.451613
4,390.0,33120.0,28.0,166654.0,48.0,0.0,12.0,9.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,63.0,Loyal customer,7.302487,Low spender,6.140303

In [34]:
ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_prices_mean,spender_category,days_since_mean
0,2.0,33120.0,1.0,202279.0,3.0,5.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,9.0,New customer,8.618889,Low spender,21.962963
1,26.0,33120.0,5.0,153404.0,2.0,0.0,16.0,7.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,33.0,Regular customer,8.072613,Low spender,10.564767
2,120.0,33120.0,13.0,23750.0,11.0,6.0,8.0,10.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Average orders,14.0,Regular customer,8.598592,Low spender,14.239437
3,327.0,33120.0,5.0,58707.0,21.0,6.0,9.0,8.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Average days,Most orders,31.0,Regular customer,6.549333,Low spender,11.451613
4,390.0,33120.0,28.0,166654.0,48.0,0.0,12.0,9.0,Organic Egg Whites,86.0,16.0,11.3,Mid-range product,Busiest days,Most orders,63.0,Loyal customer,7.302487,Low spender,6.140303

In [35]:
ords_prods_merge.loc[ords_prods_merge['days_since_mean'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [36]:
ords_prods_merge.loc[ords_prods_merge['days_since_mean'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [37]:
ords_prods_merge.loc[(ords_prods_merge['days_since_mean'] <= 20) & (ords_prods_merge['days_since_mean'] > 10), 'frequency_flag'] = 'Regular customer'

In [38]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        16494219
Regular customer         12662815
Non-frequent customer     3485416
Name: frequency_flag, dtype: int64

In [39]:
# Trying to find out about these NaN values
ff_nan_rows = ords_prods_merge[ords_prods_merge['frequency_flag'].isna()]

In [40]:
ff_nan_rows

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, user_id, user_order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, product_name, aisle_id, department_id, prices, price_range_loc, busiest_days, busiest_period_of_day, max_order, loyalty_flag, user_prices_mean, spender_category, days_since_mean, frequency_flag]
Index: []

[0 rows x 21 columns]

In [41]:
# I guess these are customers who never ordered more than once. Makes sense! I would 
# expect more of them though

In [42]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', '2023-07-28_ords_prods_merged4.8.pkl'))